input.btn {
    margin-left: 15px;
    background-color: #DAB6FC;
}

input#task {
    margin-left: 4px;
    color:black;
}

input#filter {
    margin-left: -10px;
    color:black;
}
}

label.filt-label {
    margin-left: -10px;
    color:black;
}
}

label.new-label {
    margin-left: 5px;
    color:black;
}
}

html {
    background-color: #8895B3;
}

div.card {
    background-color:
}

